.TodoItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  min-height: 64px;
  margin: 0 auto;
  background-color: var(--card);
  padding: 16px;
  margin-bottom: 18px;
  border-radius: 18px;
  /* box-shadow: 10px 10px 5px 0px rgba(29,31,87,0.75); */
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.TodoItem-p {
  font-size: 2.3rem;
  font-weight: bold;
  color: var(--font-color);
}
.TodoItem-p--complete {
  text-decoration: line-through;
}

.Icon {
  cursor: pointer;
  font-size: 2.4rem;
}

.Icon-check {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 3px solid #AD62AA;
}

.Icon-check--active {
  background-color: #AD62AA;
}

.Icon-delete {
  color: var(--font-color);
  font-weight: bold;
  font-size: 1.8rem;
}

.Icon-delete:hover {
  color: #AD62AA;
}
